.main {
  position: relative;
  & .Bg {
    height: 92vh;
    width: 100%;
    background: url(/Public/Asset/Backg-Black_me.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    background-size: cover;
  }
}
/* :root {
  --Mag: 2rem 0;
  --Pad: 0 5rem;
  --Bg-3: rgba(20, 0, 204, 0.2);
  --Tags: #3b3b3b;
  --Shadow-1: rgba(20, 0, 204, 0.3);
} */
/* Main */
.sect-home {
  height: 90vh;
  padding: var(--Pad);
}
.center-txt {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Contents */
.title-2 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--Col-1);
}
.Box-ul {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.social-link {
  font-size: var(--Icon-1);
  text-decoration: none;
  color: var(--Col-1);
  display: flex;
  transform: rotate(0deg);
  transition: var(--Ani);
  &:hover {
    color: var(--Col-2);
    transform: rotate(360deg);
    scale: 1.2;
    filter: drop-shadow(0px 0px 5px var(--Col-2));
  }
}
/* Sect */
.sect {
  padding: 3rem;
  /* border: 1px solid red; */
}
.callout {
  height: 3rem;
  width: 100%;
  margin-bottom: 2rem;
  color: var(--Col-1);
  display: flex;
  align-items: center;
  border: 1px solid var(--Bg-2);
  border-radius: 0.5rem;
  background: var(--Bg-3);
  & ion-icon {
    padding: 0.8rem;
    font-size: 1.5rem;
    color: var(--Col-2);
  }
}
.Title {
  font-size: var(--Title-2);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sect-content {
  border: 1px solid blue;
}
/* Section About */
.sect-cont-1 {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  gap: 2rem;

  & .Home-Image {
    grid-column: 1;
    grid-row: 1;
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 2.2rem;
  }
  & p {
    grid-column: 2;
    grid-row: 1;
    font-size: var(--Text-1);
    color: var(--Col-1);
  }
}
.Text-Color {
  color: var(--Col-2);
}
.callout-Skill {
  grid-column: 1 / 3;
  grid-row: 2;
  width: 100%;
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
  & ion-icon {
    font-size: 2rem;
    color: var(--Col-1);
  }
}
/* Sect DEV project */
.slide-1 {
  display: flex;
  gap: 2rem;
  overflow-x: hidden;
}
.card {
  width: 22rem;
  background: var(--Bg-1);
  box-shadow: var(--Shadow-1);
  position: relative;
  border-radius: 1rem;
  border: 1.4px solid rgba(110, 94, 255);
  transition: var(--Ani);
  &:hover {
    box-shadow: var(--Shadow-1);
  }
}
.Cover {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 1rem;
}
.Preview {
  height: 72.2%;
  width: 100%;
  padding: 1.2rem;
  color: var(--Col-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  transition: var(--Ani);
  & h3 {
    font-size: var(--Title-1);
    font-weight: 600;
    text-transform: uppercase;
  }
}

/* Sect Project */
/* Buttons */
.btns {
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Demo {
  width: 80%;
  padding: 0.6rem 0.7rem;
  font-size: var(--Title-2);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Bg-1);
  letter-spacing: 1px;
  border-radius: 0.5rem;
  background: var(--Col-2);
  &:hover {
    color: var(--Col-1);
    background: transparent;
    border: 1px solid var(--Col-2);
  }
}
.github {
  padding: 0.5rem;
  font-size: 2rem;
  color: var(--Col-2);
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid var(--Col-2);
  &:hover {
    color: var(--Bg-1);
    background: var(--Col-2);
  }
}
.title-2-1 {
  display: none;
}
/* Square */
.gallery-1 {
  height: 22rem;
  margin: 3rem 0;
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  overflow-y: hidden;
  /* border-radius: 1rem;
  background: var(--Bg-3);
  border: 1.4px solid var(--Col-2); */
}
.square {
  border: 1.4px solid var(--Col-2);
  & a {
    opacity: 0.7;
    border: 1px solid var(--Bg-2);
    transition: var(--Ani);
    &:hover {
      opacity: 1;
    }
  }
  & img {
    height: 19rem;
    width: 19rem;
    object-fit: cover;
  }
}
@media only screen and (max-device-width: 1026px) {
  .title-2 {
    font-size: 1.5rem;
  }
  .sect-project {
    padding: 0;
  }
  .card {
    width: 19rem;
  }
  .cover-link {
    height: 10.5rem;
  }
}
@media only screen and (max-device-width: 770px) {
  .title-2 {
    font-size: 1rem;
  }
  /* Projects */
  .sect-project {
    margin: 2rem;
    height: auto;
  }
  .space-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
}
@media only screen and (max-device-width: 430px) {
  .sect-home {
    height: 80vh;
    padding: 0;
  }
  .title-2 {
    display: none;
  }
  .center-txt {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .title-2-1 {
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--Col);
    display: block;
  }
}
/* Page Developer */
.sect-0 {
  height: 90%;
  padding: 19.4%;
  color: var(--Col-1);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Page Thumbmaker */
.Menu-Content {
  width: max-content;
  padding: 0.3rem;
  font-size: var(--Icon-1);
  color: var(--Col-1);
  cursor: pointer;
  display: flex;
  position: absolute;
  top: -1.2rem;
  left: 3.2rem;
  border: none;
  background: none;
}
.SlideMenu {
  height: min-content;
  width: max-content;
  padding: 1rem;
  display: flex;
  position: fixed;
  top: 7.5rem;
  left: 0;
  z-index: 3;
  border-radius: 0.5rem;
  border: var(--Border-1);
  background-color: var(--Bg-1);
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-20rem);
  transition: var(--Ani-1);
}
.SlideMenu.activeTable {
  transform: translateX(0);
  right: 0;
}
.ul-content {
  list-style: none;
}
.content-list {
  text-decoration: none;
  color: var(--Col-1);
}
/* .content-list.Activelist {
  color: var(--Col-2);
} */
/* Sect */
.sect-1 {
  margin: 2rem 0;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  & .Title-Name {
    width: max-content;
    margin-bottom: 1rem;
    padding: var(--Pad);
    font-size: var(--Title-1);
    color: var(--Col-1);
    border-radius: 0.5rem;
    border: 1.4px solid var(--Col-2);
  }
}
.ArtBanner {
  width: 100%;
  margin-bottom: 0.5rem;
  & img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
.art-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.2rem;
}
.sect-2 {
  margin: 0.5rem 0;
}
.YT-Art {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .Picture {
    height: 11rem;
    border-radius: 50%;
  }
  & .Banner {
    height: 11rem;
    border-radius: 0.5rem;
  }
}
.Grid-Thumbs {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
.Thumbs {
  height: 12rem;
  border-radius: 0.5rem;
}
